<br>
<div class="px-4 py-3 my-3 text-center">
  <%= image_tag('disc.jpg', class: "d-block mx-auto mb-4", width: '90', height: '90') %>
  <h1 class="display-5 fw-bold">Coach Huck</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It won't throw itself so show some damn hustle!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Hit the Field", new_user_session_path, type: "button", class:"btn btn-primary btn-lg px-4" %>
      <%= link_to "Orientation", home_about_path, type: "button", class:"btn btn-outline-secondary btn-lg px-4" %>
      <%# link_to "All Courses", courses_path, type: "button", class:"btn btn-outline-secondary btn-lg px-4" %>
    </div>
  </div>
</div>