<br><br>
<div class="p-3 mb-2 bg-success bg-gradient text-white fs-4" style="border-radius:15px">New Course</div>

<%= render "form", course: @course %>

<br>

<%= link_to "Course List", courses_path, class:"btn btn-outline-dark" %>