<% if user_signed_in? %>
  <%= render 'layouts/nav' %>
<% end %>
<h1>Cards</h1>

<div id="cards">
  <% @cards.each do |card| %>
    <% if card.user_id == current_user.id %>
      <%= render card %>
    <% end %>
  <% end %>
</div>